{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Main menu</title>
	<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body class='bg-dark'>
	<div class='container'>
		<div class="page-header">
	        <h1 align='center'>Human Development Index Clustering</h1>
	    </div>
	    <div class='row'>
			<div class="Absolute-Center is-Responsive">
				<div class='box-param'>
					<div class='sub-header'>
						<ul>
							<li><p style="padding-right: 90px;">Bantuan</p></li>
							<li><a class='back-top-right' href="{% url 'dashboard:menu' %}">
								back
								</a>
							</li>
						</ul>
					</div>
					<hr>
					<div class='vertical-menu'>
						<p>Cara penggunaan aplikasi ini adalah
							<ul>
								<li>Pengguna masuk ke menu mulai clusering dan pilih metode yang akan digunakan untuk pengelompokan. Pilihan metode yang
								dapat digunakan yaitu metode ST-DBSCAN K-Means.</li>
								<li>Seteleh memutuskan metode yang digunakan, pengguna perlu memasukan dataset dan parameter sesuai metode. Dataset yang digunakan adalah dataset yang sudah dilakukan praproses data.</li>
								<li>Apabila dataset dan parameter sudah diisi, klik tombol mulai clustering untuk melakukan proses pengelompokan.</li>
								<li>Hasil pengelompokan akan disajikan dengan berbagai bentuk seperti scatterplot, diagram batang, 3D plot dan tabel.</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>