{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Your Parameters</title>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">
	  <title>SB Admin - Start Bootstrap Template</title>
	  <!-- Bootstrap core CSS-->
	  <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
	  <!-- Custom fonts for this template-->
	  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	  <!-- Page level plugin CSS-->
	  <link href="{% static 'datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
	  <!-- Custom CSS -->
	  <link href="{% static 'css/chart.css' %}" rel="stylesheet">
	  <!-- D3Js -->
	  <script src="{% static 'js/d3js/d3.min.js' %}" charset="utf-8"></script>
	  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	  <script src="//d3js.org/topojson.v1.min.js"></script>
	  <script src="{% static 'js/chart.js' %}"></script>
	  <script src="{% static 'js/table.js' %}"></script>
	  
	  <style type="text/css">
		.legend rect {
		  fill:white;
		  stroke:black;
		  opacity:0.8;
		}

		#my3dplot {
			width: 1000px;
			height: 500px;
			margin-bottom: 20px;
		}
	  </style>
</head>
<body class="fixed-nav bg-dark" id="page-top">
	<!-- Navigation-->
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    	<a class="navbar-brand" href="{% url 'dashboard:dashboard' %}">Cluster-Dashboard	</a>
    	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>

	    <div class="collapse navbar-collapse" id="navbarResponsive">
	    	<!-- Menu -->
	     	<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
	      		<!-- Dashboard -->
	        	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
	          		<a class="nav-link" href="{% url 'dashboard:dashboard' %}">
	            		<i class="fa fa-fw fa-dashboard"></i>
	            		<span class="nav-link-text">Dashboard</span>
	          		</a>
	        	</li>
	        	<!-- Chart -->
	        	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
	          		<a class="nav-link" href="{% url 'dashboard:charts' %}">
	            		<span class="nav-link-text">Charts</span>
	          		</a>
	        	</li>
	        	<!-- Tables -->
	        	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
	          		<a class="nav-link" href="{% url 'dashboard:result_table' %}">
	            		<span class="nav-link-text">Tables</span>
	          		</a>
	        	</li>
	      	</ul>
	      	<!-- Logout (back) -->
	      	<ul class="navbar-nav ml-auto">
	        	<li class="nav-item">
	          		<a class="nav-link" href="{% url 'dashboard:input' %}">
	            		Back
	            	</a>
	        	</li>
	      	</ul>
	    </div>
  	</nav>

  	<!-- Block content -->
  	{% block content %}
  	{% endblock %}

    {% for parameter in parameters %}
	    <script>
	    	var margin = {
	    			top: 10,
	    			right: 10,
	    			bottom: 20,
	    			left: 50
	    		},
	    		areaWidth = 1400,
	    		areaHeight = 450,
	    		barWidth = 600 - margin.left - margin.right,
	    		barHeight = 200 - margin.top - margin.bottom;

	    	// container for area chart
	    	var areaContainer = d3.select('#myAreaChart').append('svg')
	    												.attr('width', areaWidth)
	    												.attr('height', areaHeight);


	    	// Define 'div' for tooltips
			var tooltip = d3.select(".card-body")
						.append("div")  
						.attr("class", "tooltip")
						.style("opacity", 0);

	    	d3.json('/static/json/jawafix.json', function(error, data) {
	    		if(error) return console.error(error);
	    		// console.log(data);

	    		var center = d3.geoCentroid(topojson.feature(data, data.objects.jawa));
	    		var subunits = topojson.feature(data, data.objects.jawa);

				var projection =  d3.geoMercator()
	    							.center(center)
	    							.scale(7000)
     								.translate([areaWidth /2, areaHeight /2]);

				var path = d3.geoPath()
	    					 .projection(projection);

	    		areaContainer.append('path')
	    					.datum(subunits)
	    					.attr('d', path);

	    		areaContainer.selectAll(".provinsi")
	    					.data(topojson.feature(data, data.objects.jawa).features)
	    					.enter()
	    					.append('path')
	    					.attr('class', function(d) { 
	    						//console.log(d);
	    						var namaProv = d.id.replace(/\s/g, "");
	    						return "provinsi " + namaProv })
	    					.attr('d', path);

	    		var result = {{ parameter.resultToJson|safe }};
	    		var score = {{ parameter.calculate_sc|safe }};
	    		console.log("score: " + score);
	    		var dict = [];
	    		result.data.forEach(function(d) {
	    			dict.push({
	    				"kabupaten": d[0],
	    				"coordinate": [d[1], d[2]],
	    				"tahun": d[3],
	    				"ipm": d[4],
	    				"cluster": d[5],
	    			});
	    		});

	    		// random coloring for circle
	    		var color = d3.scaleOrdinal(d3.schemeCategory10);

	    		// add circle to svg
	    		var circles = areaContainer.selectAll('circle')
	    								   .data(dict)
	    								   .enter()
	    								   .append('circle');

	    		var circleAttr = circles.attr('cx', function(d) {
	    									var coordinate = d.coordinate;
	    									return projection(coordinate)[0]; 
	    								})
	    								.attr('cy', function(d) {
	    									var coordinate = d.coordinate; 
	    									return projection(coordinate)[1];
	    								})
	    								.attr('r', '6px')
	    								.attr('fill', function(d) {
	    								//console.log(d[2]);
	    								if (d.cluster == -1) return '#000'
	    									else {
	    									  	return color(d.cluster);
	    									  	}
	    								});

				var cluster_legend = [];
				dict.forEach(function(d) {
					if (cluster_legend.includes(d.cluster) == false) {
						cluster_legend.push(d.cluster);
					}
				});

				function createLegend(container) {	

					var legend = container.selectAll('g')
								    .data(cluster_legend.sort())
								    .enter().append('g')
								    .attr('class', 'legend')
								    .attr("transform","translate(20,30)");

								legend.append("path")
								  .attr("class", "line");

								legend.append('circle')
								    .attr('cx', 20)
								    .attr('cy', function(d, i){ return i *  20;})
								    .attr("r","0.4em")
								    .attr('width', 10)
								    .attr('height', 10)
								    .style('fill', function(d) {
								      return color(d);
								    });

								legend.append('text')
								    .attr('x', 40 - 8)
								    .attr('y', function(d, i){ return (i *  20) + 9;})
								    .text(function(d){
								    		return "Cluster " + d;
								    	});
					return legend
				};

			createLegend(areaContainer);


	    		// hovering tooltips
	    		circleAttr.on("mouseover", function(d) {
	    			tooltip.transition(200)
	    				   .duration(200)
	    				   .style('opacity', 0.9);
	    			tooltip.text(d.kabupaten)
	    				   .style('left', (d3.event.pageX - 10) + "px")
	    				   .style('top', (d3.event.pageY - 65) + "px");
	    		})
	    		.on("mouseout", function(d) {
	    			tooltip.transition()
	    					.duration(500)
	    					.style('opacity', 0)
	    		});

	    		// add bar chart while click the plot
	    		circleAttr.on("click", function(d) {
	    			d3.select('#myBarChart')
	    			  .selectAll('svg').remove();

	    			d3.select('#bar-header')
	    			  .html('<i class="fa fa-bar-chart"></i> Bar Chart: ' + d.kabupaten);
	  		
			  		// x-scale and y-scale
			  		var xScale = d3.scaleBand()
			  					   .rangeRound([0, barWidth], .4),
			  			yScale = d3.scaleLinear().range([barHeight, 0]);

			  		var xAxis = d3.axisBottom(xScale),
			  			yAxis = d3.axisLeft(yScale);

			  		var barChart = d3.select('#myBarChart')
			  						 .append('svg')
			  						 .attr('width', barWidth + margin.left + margin.right)
			  						 .attr('height', barHeight + margin.top + margin.bottom)
			  						 .append('g')
			  						 .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

	    			var bar = dict.filter(element => element.kabupaten == d.kabupaten);
	    			xScale.domain(bar.map(function(d) { 
	    				return d.tahun; }));
	    			yScale.domain([d3.min(bar, function(d) {
					    				return d.ipm-2.5; }),
					    		   d3.max(bar, function(d) {
					    				return d.ipm; })]);

	    			barChart.append("g")
					        .attr("class", "x axis")
					        .attr("transform", "translate(0," + 
					        	barHeight + ")")
					        .call(xAxis);

					barChart.append("g")
					        .attr("class", "y axis")
					        .call(yAxis);

					barChart.selectAll(".bar")
			        	 .data(bar)
			      		 .enter()
			      		 	.append("rect")
			        		.attr("class", "bar")
			        		.attr("x", function(d) { 
			        			return xScale(d.tahun); })
			        		.attr("y", function(d) { 
			        			return yScale(d.ipm); })
			        		.attr("height", function(d) { 
			        			return barHeight - yScale(d.ipm); })
			        		.attr("width", xScale.bandwidth())
			        		.attr('fill', function(d) {
	    								//console.log(d[2]);
	    								if (d.cluster == -1) return '#000'
	    								else {
	    									return color(d.cluster);
	    							  		}
	    					})
			        		.on("mouseover", function(d) {
				    			tooltip.transition(200)
				    				   .duration(200)
				    				   .style('opacity', 0.9);
				    			tooltip.html('tahun ' + d.tahun + '<br>'
				    						+ d.ipm)
				    				   .style('left', (d3.event.pageX - 10) + "px")
				    				   .style('top', (d3.event.pageY - 65) + "px");
				    		})
				    		.on("mouseout", function(d) {
				    			tooltip.transition()
				    					.duration(500)
				    					.style('opacity', 0)
				    		});
				});

				// plot 3D
				plot3d(dict, color);

				// Create table
				var tbody = d3.select('#data-fill')
							  .call(tabulate, result.data, 
							  		['kabupaten', 'longitude', 
							  		 'latitude', 'tahun', 
							  		 'ipm', 'cluster']);
	    	});
		</script>
	{% endfor %}
		<!--Bootstrap core JavaScript -->
		<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
		<!-- Page level plugin JavaScript -->
		<script src="{% static 'datatables/jquery.dataTables.js' %}"></script>
	    <script src="{% static 'datatables/dataTables.bootstrap4.js' %}"></script>
	    <!-- custom tables -->
<!-- 	    <script src="{% static 'js/sb-admin.min.js' %}"></script>
	    <script src="{% static 'js/sb-admin-datatables.min.js' %}"></script> -->
</body>
</html>	