{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Your Parameters</title>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">
	  <title>SB Admin - Start Bootstrap Template</title>
	  <!-- Bootstrap core CSS-->
	  <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
	  <!-- Custom fonts for this template-->
	  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	  <!-- Page level plugin CSS-->
	  <link href="{% static 'datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
<!--  <script src="https://d3js.org/d3.v4.min.js"></script>
	  <script src="https://d3js.org/topojson.v1.min.js"></script> -->
	  <!-- custom css -->
	  <link href="{% static 'css/chart.css' %}" rel="stylesheet">

	  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
	  <script src="//d3js.org/topojson.v1.min.js"></script>
	  <style type="text/css">
	  .bar {
  		fill: steelblue;
		}
	  	.axis text {
		  font: 14px sans-serif;
		}

		.axis path,
		.axis line {
		  fill: #000;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}
	  </style>
</head>
<body class="fixed-nav bg-dark" id="page-top">
	<!-- Navigation-->
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    	<a class="navbar-brand" href="index.html">Cluster-Dashboard	</a>
    	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>

	    <div class="collapse navbar-collapse" id="navbarResponsive">
	    	<!-- Menu -->
	     	<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
	      		<!-- Dashboard -->
	        	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
	          		<a class="nav-link" href="index.html">
	            		<i class="fa fa-fw fa-dashboard"></i>
	            		<span class="nav-link-text">Dashboard</span>
	          		</a>
	        	</li>
	        	<!-- Chart -->
	        	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
	          		<a class="nav-link" href="charts.html">
	            		<span class="nav-link-text">Charts</span>
	          		</a>
	        	</li>
	        	<!-- Tables -->
	        	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
	          		<a class="nav-link" href="tables.html">
	            		<span class="nav-link-text">Tables</span>
	          		</a>
	        	</li>
	      	</ul>
	      	<!-- Logout (back) -->
	      	<ul class="navbar-nav ml-auto">
	        	<li class="nav-item">
	          		<a class="nav-link" href="{% url 'dashboard:input' %}">
	            		Back
	            	</a>
	        	</li>
	      	</ul>
	    </div>
  	</nav>

  	<!-- Dashboard content -->
  	<div>
	    <div class="container-fluid">
	      	<!-- Breadcrumbs-->	
	     	<ol class="breadcrumb">
	        <li class="breadcrumb-item">
	          <a href="#">Dashboard</a>
	        </li>
	        <li class="breadcrumb-item active">My Dashboard</li>
	      	</ol>
	      	<!-- Area Chart Example-->
	      	<div class="card mb-3">
	        	<div class="card-header">
	          		<i class="fa fa-area-chart"></i> Clustering result
		          		{% for parameter in parameters %}
							(eps1: {{ parameter.eps1 }}, eps2: {{ parameter.eps2 }}, minPts: {{ parameter.minPts }}, de: {{ parameter.de }})
						{% endfor %}	
	          		</div>
	        		<div class="card-body" id="myAreaChart">
	        		</div>
	        	<div class="card-footer small text-muted"></div>
	      	</div>

	      	<div class="row">
	        	<div class="col-lg-7">
	          	<!-- Example Bar Chart Card-->
	          		<div class="card mb-3">
	            		<div class="card-header" id='bar-header'>
	            			<i class="fa fa-bar-chart"></i> Bar Chart
	            		</div>
	            		<div class="card-body">
	              			<div class="row" id="myBarChart">
	              			</div>
	            		</div>
	            		<div class="card-footer small text-muted"></div>
	          		</div>
     			</div>
          		<!-- /Card Columns-->
        		<div class="col-lg-5">
          			<!-- Example Pie Chart Card-->
          			<div class="card mb-5">
            			<div class="card-header">
              				<i class="fa fa-pie-chart"></i> Pie Chart 
              			</div>
            			<div class="card-body">
              				<canvas id="myPieChart" width="100%" height="100"></canvas>
            			</div>
            			<div class="card-footer small text-muted"></div>
          			</div>  
        		</div>
      		</div>
    	</div>
    </div>
    {% for parameter in parameters %}
	    <script>
	    	var margin = {
	    			top: 10,
	    			right: 10,
	    			bottom: 20,
	    			left: 50
	    		},
	    		areaWidth = 1200,
	    		areaHeight = 350,
	    		barWidth = 600 - margin.left - margin.right,
	    		barHeight = 200 - margin.top - margin.bottom;

	    	var areaContainer = d3.select('#myAreaChart').append('svg')
	    												.attr('width', areaWidth)
	    												.attr('height', areaHeight);

	    	// Define 'div' for tooltips
			var tooltip = d3.select(".card-body")
						.append("div")  
						.attr("class", "tooltip")
						.style("opacity", 0);

	    	d3.json('/static/json/jawafix.json', function(error, data) {
	    		if(error) return console.error(error);
	    		// console.log(data);

	    		var center = d3.geo.centroid(topojson.feature(data, data.objects.jawa));
	    		var subunits = topojson.feature(data, data.objects.jawa);

				var projection =  d3.geo.mercator()
	    							.center(center)
	    							.scale(7000)
     								.translate([areaWidth /2, areaHeight /2]);

				var path = d3.geo.path()
	    					 .projection(projection);

	    		areaContainer.append('path')
	    					.datum(subunits)
	    					.attr('d', path);

	    		areaContainer.selectAll(".provinsi")
	    					.data(topojson.feature(data, data.objects.jawa).features)
	    					.enter()
	    					.append('path')
	    					.attr('class', function(d) { 
	    						//console.log(d);
	    						var namaProv = d.id.replace(/\s/g, "");
	    						return "provinsi " + namaProv })
	    					.attr('d', path);

	    		// put border around district
	    		  // areaContainer.append("path")
			      //    .attr("stroke", "#fff")
			      //    .attr("stroke-width", 0.5)
			      //    .attr("d", path(topojson.mesh(data, data.objects.jawa, function(a, b) { return a !== b; })));

	    		var result = {{ parameter.resultToJson|safe }};
	    		//console.log(result);
	    		var dict = [];
	    		result.data.forEach(function(d) {
	    			dict.push({
	    				"kabupaten": d[0],
	    				"coordinate": [d[1], d[2]],
	    				"tahun": d[3],
	    				"ipm": d[4],
	    				"cluster": d[5],
	    			});
	    		});

	    		//console.log(dict);
	    		// random coloring for circle
	    		var color = d3.scale.category10();

	    		// add circle to svg
	    		var circles = areaContainer.selectAll('circle')
	    					// .data(result.data, function(d) {
	    					// 	var coordinate = [d[1], d[2]];
	    					// 	//console.log(coordinate)
	    					// 	return coordinate;
	    					// })
	    					.data(dict)
	    					.enter()
	    					.append('circle');

	    	var circleAttr = circles.attr('cx', function(d) {
	    									var coordinate = d.coordinate;
	    									return projection(coordinate)[0]; 
	    								})
	    								.attr('cy', function(d) {
	    									var coordinate = d.coordinate; 
	    									return projection(coordinate)[1];
	    								})
	    									  .attr('r', '6px')
	    									  .attr('fill', function(d) {
	    									  		//console.log(d[2]);
	    									  		if (d.cluster == -1) return '#000'
	    									  		else {
	    									  			return color(d.cluster);
	    									  		}
	    									  });

	    		// hovering tooltips
	    		circleAttr.on("mouseover", function(d) {
	    			tooltip.transition(200)
	    				   .duration(200)
	    				   .style('opacity', 0.9);
	    			tooltip.text(d.kabupaten)
	    				   .style('left', (d3.event.pageX - 10) + "px")
	    				   .style('top', (d3.event.pageY - 65) + "px");
	    		})
	    		.on("mouseout", function(d) {
	    			tooltip.transition()
	    					.duration(500)
	    					.style('opacity', 0)
	    		});

	    		// add bar chart while click the plot
	    		circleAttr.on("click", function(d) {
	    			d3.select('#myBarChart')
	    			  .selectAll('svg').remove();

	    			d3.select('#bar-header')
	    			  .html('<i class="fa fa-bar-chart"></i> Bar Chart: ' + d.kabupaten);
	  		
			  		// x-scale and y-scale
			  		var xScale = d3.scale.ordinal()
			  							 .rangeRoundBands([0, barWidth], .4),
			  			yScale = d3.scale.linear().range([barHeight, 0]);

			  		var xAxis = d3.svg.axis()
			  						  .scale(xScale)
			  						  .orient('bottom'),
			  			yAxis = d3.svg.axis()
			  						  .scale(yScale)
			  						  .orient('left');

			  		var barChart = d3.select('#myBarChart')
			  						 .append('svg')
			  						 .attr('width', barWidth + margin.left + margin.right)
			  						 .attr('height', barHeight + margin.top + margin.bottom)
			  						 .append('g')
			  						 .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

	    			var bar = dict.filter(element => element.kabupaten == d.kabupaten);
	    			console.log(bar);
	    			xScale.domain(bar.map(function(d) { 
	    				return d.tahun; }));
	    			yScale.domain([d3.min(bar, function(d) {
					    				return d.ipm-2.5; }),
					    		   d3.max(bar, function(d) {
					    				return d.ipm; })]);

	    			barChart.append("g")
					        .attr("class", "x axis")
					        .attr("transform", "translate(0," + 
					        	barHeight + ")")
					        .call(xAxis);

					barChart.append("g")
					        .attr("class", "y axis")
					        .call(yAxis);

					barChart.selectAll(".bar")
			        	 .data(bar)
			      		 .enter()
			      		 	.append("rect")
			        		.attr("class", "bar")
			        		.attr("x", function(d) { 
			        			return xScale(d.tahun); })
			        		.attr("y", function(d) { 
			        			return yScale(d.ipm); })
			        		.attr("height", function(d) { 
			        			return barHeight - yScale(d.ipm); })
			        		.attr("width", xScale.rangeBand())
			        		.on("mouseover", function(d) {
				    			tooltip.transition(200)
				    				   .duration(200)
				    				   .style('opacity', 0.9);
				    			tooltip.html('tahun ' + d.tahun + '<br>'
				    						+ d.ipm)
				    				   .style('left', (d3.event.pageX - 10) + "px")
				    				   .style('top', (d3.event.pageY - 65) + "px");
				    		})
				    		.on("mouseout", function(d) {
				    			tooltip.transition()
				    					.duration(500)
				    					.style('opacity', 0)
				    		});
				});
	    	});
		</script>
	{% endfor %}
</body>
</html>	