{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <meta name="author" content="">
	  <title>SB Admin - Start Bootstrap Template</title>
	  <!-- Bootstrap core CSS-->
	  <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
	  <!-- Custom fonts for this template-->
	  <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	  <!-- Page level plugin CSS-->
	  <link href="{% static 'datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
	  <!-- Custom CSS -->
	  <link href="{% static 'css/chart.css' %}" rel="stylesheet">
	  <!-- D3Js -->
	  <script src="{% static 'js/d3js/d3.min.js' %}" charset="utf-8"></script>
	  <script src="{% static 'js/plotly/plotly-latest.min.js' %}"></script>
	  <script src="{% static 'js/d3js/topojson.v1.min.js' %}"></script>
	  <script src="{% static 'js/chart.js' %}"></script>
	  <script src="{% static 'js/table.js' %}"></script>
	  
	  <style type="text/css">
		.legend rect {
		  fill:white;
		  stroke:black;
		  opacity:0.8;
		}

		#my3dplot {
			width: 1000px;
			height: 500px;
			margin-bottom: 20px;
		}
	  </style>
</head>
<body class="fixed-nav bg-dark" id="page-top">
	<!-- Navigation-->
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    	<a class="navbar-brand" href="{% url 'dashboard:kmeans_dashboard' %}">K-means Dashboard	</a>
    	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button>

	    <div class="collapse navbar-collapse" id="navbarResponsive">
	    	<!-- Menu -->
	     	<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
	      		<!-- Dashboard -->
	        	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
	          		<a class="nav-link" href="{% url 'dashboard:kmeans_dashboard' %}">
	            		<i class="fa fa-fw fa-dashboard"></i>
	            		<span class="nav-link-text">Dashboard</span>
	          		</a>
	        	</li>
	        	<!-- Chart -->
	        	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
	          		<a class="nav-link" href="{% url 'dashboard:kmeans_charts' %}">
	            		<span class="nav-link-text">Charts</span>
	          		</a>
	        	</li>
	        	<!-- Tables -->
	        	<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
	          		<a class="nav-link" href="{% url 'dashboard:kmeans_table' %}">
	            		<span class="nav-link-text">Tables</span>
	          		</a>
	        	</li>
	      	</ul>
	      	<!-- Logout (back) -->
	      	<ul class="navbar-nav ml-auto">
	        	<li class="nav-item">
	          		<a class="nav-link" href="{% url 'dashboard:kmeans_input' %}">
	            		Back
	            	</a>
	        	</li>
	      	</ul>
	    </div>
  	</nav>

  	<!-- Block content -->
  	{% block content %}
  	{% endblock %}

    {% for parameter in parameters %}
	    <script>
	    	var result = {{ parameter.resultToJson|safe }};
	    	var score = {{ parameter.kmeans_score|safe }};
	    	console.log(score)
	    	var dict = [];
	    	result.data.forEach(function(d) {
	    		dict.push({
	    				"kabupaten": d[0],
	    				"coordinate": [d[1], d[2]],
	    				"tahun": d[3],
	    				"ipm": d[4],
	    				"cluster": d[5],
	    		});
	    	});

	    	var margin = {
	    			top: 10,
	    			right: 10,
	    			bottom: 20,
	    			left: 50
	    		},
	    		areaWidth = 1400,
	    		areaHeight = 450,
	    		barWidth = 600 - margin.left - margin.right,
	    		barHeight = 200 - margin.top - margin.bottom;

	    	// container for area chart
	    	var areaContainer = d3.select('#myAreaChart').append('svg')
	    												 .attr('width', areaWidth)
	    												 .attr('height', areaHeight);


	    	// tooltips
			var tooltip = d3.select(".card-body")
						    .append("div")  
							.attr("class", "tooltip")
							.style("opacity", 0);

			// random coloring for circle
	    	var color = d3.scaleOrdinal(d3.schemeCategory10);

	    	d3.json('/static/json/jawafix.json', function(error, data) {
	    		if(error) return console.error(error);

	    		// geo scatter
	    		areaContainer.call(geo_scatter, data, color);
	    	});

			// silhouette score
			d3.select('#kmeans-score')
			  .html("<h2>" + score.toFixed(4) + "</h2>");

			// Create table
			var tbody = d3.select('#data-fill')
						  .call(tabulate, result.data, 
							  	['kabupaten', 'longitude', 
							  	 'latitude', 'tahun', 
							  	 'ipm', 'cluster']);

			// plot 3D
			var my3dplot = document.getElementById("my3dplot");
			if (my3dplot) {
				plot3d(dict, color);
			}
		</script>
	{% endfor %}
		<!--Bootstrap core JavaScript -->
		<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
		<!-- Page level plugin JavaScript -->
		<script src="{% static 'datatables/jquery.dataTables.js' %}"></script>
	    <script src="{% static 'datatables/dataTables.bootstrap4.js' %}"></script>
	    <!-- custom tables -->
	    <script src="{% static 'js/sb-admin.min.js' %}"></script>
	    <script src="{% static 'js/sb-admin-datatables.min.js' %}"></script>
</body>
</html>	