{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Input parameters</title>
	<!-- Bootstrap core CSS-->
	<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body class='bg-dark'>
	<div class='container'>
		<div class="page-header">
            <h1 align='center'>Human Development Index Clustering</h1>
        </div>

		<div class='row'>
			<div class="Absolute-Center is-Responsive">
				<div class='box-param'>
					<div class='sub-header'>
						<ul>
							<li><p>ST-DBSCAN Input</p></li>
							<li>
								<a class='back-top-right' href="{% url 'dashboard:choose_algo' %}">
									back
								</a>
							</li>
						</ul>
						<hr>
						<p>this parameters is needed for clustering algorithm</p>
						{% load bootstrap4 %}
						<form method='post' class='form' enctype="multipart/form-data">
							<div class="form-group">
								{% csrf_token %}
								{% bootstrap_form form %}
								{% buttons %}
									<button type='submit' class='btn btn-primary'>
										Mulai ST-DBSCAN
									</button>
								{% endbuttons %}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>