{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Main menu</title>
	<link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body class='bg-dark'>
	<div class='container'>
		<div class="page-header">
	        <h1 align='center'>Human Development Index Clustering</h1>
	    </div>
	    <div class='row'>
			<div class="Absolute-Center is-Responsive">
				<div class='box-param'>
					<div class='sub-header'>
						<ul>
							<li><p style="padding-right: 90px;">Tentang</p></li>
							<li><a class='back-top-right' href="{% url 'dashboard:menu' %}">
								back
								</a>
							</li>
						</ul>
					</div>
					<hr>
					<div class='vertical-menu'>
						<p>Human Development Index Clustering adalah sebuah aplikasi yang dapat digunakan untuk pengelompokan data Indeks Pembangunan Manusia (IPM) kabupaten/kota di Pulau Jawa dengan menggunakan metode ST-DBSCAN atau K-Means. Tujuan aplikasi ini adalah melihat persebaran pengelompokan berdasarkan nilai IPM dalam beberapa periode tahun dan lokasi kabupaten/kota.</p>
						<p>Aplikasi ini dikembangkan oleh M. Ivan Putra Eriansya dan bekerjasama dengan Universitas Budi Luhur dan Badan Pusat Statistik dalam rangka penyelesaian tugas akhir.</p>
						<p>Aplikasi ini juga menyajikan berbagai bentuk hasil pengelompokan seperti scatterplot, diagramb batang, 3D plot dan tabel yang dapat digunakan pengguna untuk melakukan analisis terkait persebaran nilai IPM di Pulau Jawa</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>