svg{
   	display: block;
   	margin: auto;
}

div.tooltip {
  position: absolute;	
  text-align: center;
  width: 140px;
  height: 50px;	
  padding: 10px;
  font: 15px sans-serif;
  color: #fff;	
  background: #000;
  border: 0px;					
  border-radius: 8px;
 /*  pointer-events: none;	This line needs to be removed */
	
}

/* provience colors*/
.provinsi.DKIJAKARTA { fill: #ddc; }
.provinsi.JAWABARAT { fill: #cdd; }
.provinsi.JAWATENGAH { fill: #cdc; }
.provinsi.JAWATIMUR { fill: #dcd; }
.provinsi.DAERAHISTIMEWAYOGYAKARTA { fill: #ccd; }
.provinsi.BANTEN { fill: #ddd; }

/* Bar Chart */
.bar {
  /*fill: steelblue; */
}
.axis text {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: rgb(177, 177, 177);;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

#kmeans-score h2 {
  font: 100px sans-serif;
  text-align: center;
}

#stdbscan-score h2 {
  font: 100px sans-serif;
  text-align: center;
}