svg{
   	display: block;
   	margin: auto;
}

div.tooltip {
  position: absolute;	
  text-align: center;	
  width: 60px;	
  height: 20px;		
  padding: 20px;	
  font: 12px sans-serif;	
  background: lightsteelblue;	
  border: 0px;					
  border-radius: 8px;
 /*  pointer-events: none;	This line needs to be removed */
	
}

/* provience colors*/
.provinsi.DKIJAKARTA { fill: #ddc; }
.provinsi.JAWABARAT { fill: #cdd; }
.provinsi.JAWATENGAH { fill: #cdc; }
.provinsi.JAWATIMUR { fill: #dcd; }
.provinsi.DAERAHISTIMEWAYOGYAKARTA { fill: #ccd; }
.provinsi.BANTEN { fill: #ddd; }
